.head h1 {
    height: 80px;
    margin: 0 auto;
    padding-left: 10px;
    font-size: 50px;
    font-weight: normal;
    line-height: 80px;
    letter-spacing: 0.1em;
}

.main {
    position: relative;
}

header h1 {
    background-color: #e0ffff;
}

.footer {
    background-color: #e0ffff;
}

.footer small {
    color: #e0ffff;
    font-size: 11px;
    text-align: right;
    width: 976px;
    margin: 0 auto;
    height: 200px;
    line-height: 200px;
    letter-spacing: 0.15em;
}
