body {
    background-color: #F5F5F5;
}
nav {
    background-color: #00bfff;
}

nav>div>ul>div>li>a {
    color: #f5f5f5;
}
.borderBottom{
    border-bottom: 1.5px solid #f5f5f5;
}
.navbar-toggler{
  border-color: #f5f5f5;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.section-padding {
    padding: 10px 0;
}
.bottom {
    background-color: #00bfff;
}
body, #wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

@media screen and (max-width:480px) {
	img{
	  width: 200px;
	  height: auto;
	}
	.bdr-charge {
		width: 300px;
	}
}

@media screen and (min-width:481px) {
	.bdr-charge {
		width: 400px;
	}
}
